@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url('https://fonts.cdnfonts.com/css/coffee-butter');
@import url('https://fonts.cdnfonts.com/css/lulo-clean');
                

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.about-section {
    background: #f8f9fa;
}
.products-section .card {
    border: none;
    transition: transform 0.3s ease-in-out;
}

.products-section .card:hover {
    transform: scale(1.05);
}
.contact-section {
    background: #f8f9fa;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
}



.navbar{
    min-height: 70px;
}
/* .main-txt-1{
    font-family: 'Lulo Clean', sans-serif;
    letter-spacing: 5px;
}
.about-txt{
    font-family: 'Coffee Butter', sans-serif;
                                                
}
.pro-txt{
    font-family: 'Coffee Butter', sans-serif;
} */
.card-title{
    font-weight: bolder;
}